In [28]:
import requests
url="https://storyweaver.org.in/api/v1/books-search?languages[]=English&levels[]=1&levels[]=2&per_page=24&page={}"

In [54]:

id=[]
# index=259 is throwing some error  so execute from 1,259 then 260,391
for pg_num in range(1,259):
    response=requests.get(url.format(pg_num))
    damn=response.json()
    a=damn.get('metadata')
    d=damn['data']
    for i in d:
        id_num=i['id']
        id.append(id_num)

In [56]:
id2=[]
for pg_num in range(260,391):
    response=requests.get(url.format(pg_num))
    damn=response.json()
    d=damn['data']
    for i in d:
        id_num2=i['id']
        id.append(id_num2)

In [57]:
print(len(id))

9332

In [59]:
import pandas as pd
df = pd.DataFrame(id)
df.to_csv("amnuj.csv",index=False)